<footer class="site">
  <div class="wrap">
    <div class="cols">
      <div>
        <h4>{{publisher}}</h4>
        <p style="margin:0">{{taglineEn}}</p>
      </div>
      <div>
        <h4>Pages</h4>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="download.html">Download</a></li>
          <li><a href="legal.html">Legal notice</a></li>
          <li><a href="legal.html#third-party">Third-party licences</a></li>
        </ul>
      </div>
      <div>
        <h4>Publisher</h4>
        <ul>
          <li>{{publisher}}</li>
          <li><a href="mailto:{{email}}">{{email}}</a></li>
        </ul>
      </div>
      <div>
        <h4>Third-party components</h4>
        <ul>{{thirdPartyShortEn}}</ul>
      </div>
    </div>
    <div class="bottom">
      Pieces produced with {{publisher}} belong to their author. The tracks on this page were composed with
      the application.
    </div>
  </div>
</footer>
