<footer class="site">
  <div class="wrap">
    <div class="cols">
      <div>
        <h4>{{publisher}}</h4>
        <p style="margin:0">{{taglineFr}}</p>
      </div>
      <div>
        <h4>Pages</h4>
        <ul>
          <li><a href="index.html">Accueil</a></li>
          <li><a href="telecharger.html">Télécharger</a></li>
          <li><a href="legal.html">Mentions légales</a></li>
          <li><a href="legal.html#tiers">Licences tierces</a></li>
        </ul>
      </div>
      <div>
        <h4>Éditeur</h4>
        <ul>
          <li>{{publisher}}</li>
          <li><a href="mailto:{{email}}">{{email}}</a></li>
        </ul>
      </div>
      <div>
        <h4>Composants tiers</h4>
        <ul>{{thirdPartyShortFr}}</ul>
      </div>
    </div>
    <div class="bottom">
      Les pièces produites par {{publisher}} appartiennent à leur auteur. Les morceaux de cette page ont été
      composés avec l'application.
    </div>
  </div>
</footer>
