<header class="site">
  <div class="wrap nav">
    <a class="brand" href="index.html"><img src="{{rel}}img/logo.png" alt=""><span class="name">SINDAL</span></a>
    <nav>
      <a href="{{home}}#why">Why</a>
      <a href="{{home}}#listen">Listen</a>
      <a href="{{home}}#demo">Demo</a>
      <a href="{{home}}#sound">Sound</a>
      <a href="offers.html"{{curPricing}}>Offers</a>
      <a href="download.html"{{curDownload}}>Download</a>
    </nav>
    <select class="lang" aria-label="Langue / Language">
      <option value="{{altHref}}">FR</option>
      <option value="" selected>EN</option>
    </select>
  </div>
</header>
