<header class="site">
  <div class="wrap nav">
    <a class="brand" href="index.html"><img src="{{rel}}img/logo.png" alt=""><span class="name">SINDAL</span></a>
    <nav>
      <a href="{{home}}#pourquoi">Pourquoi</a>
      <a href="{{home}}#ecouter">Écouter</a>
      <a href="{{home}}#demo">Démo</a>
      <a href="{{home}}#sons">Sons</a>
      <a href="telecharger.html"{{curDownload}}>Télécharger</a>
    </nav>
    <select class="lang" aria-label="Langue / Language">
      <option value="" selected>FR</option>
      <option value="{{altHref}}">EN</option>
    </select>
  </div>
</header>
